<div class="d-flex flex-column bg-light vh-100 p-3">
  <div class="mb-4">
    <h4 class="text-success">Farm Manager</h4>
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-dark" routerLink="/" routerLinkActive="active"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        class="nav-link text-dark"
        routerLink="/fields"
        routerLinkActive="active"
        >Fields</a
      >
    </li>
    <li>
      <a
        class="nav-link text-dark"
        routerLink="/alerts"
        routerLinkActive="active"
        >Alerts</a
      >
    </li>
    <li>
      <a
        class="nav-link text-dark"
        routerLink="/reset-sensor"
        routerLinkActive="active"
        >Reset Sensors</a
      >
    </li>
  </ul>
</div>
